<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Media Library Usage Description

Privacy - Media Library Usage Description

Privacy</key>
	<string>The sandbox application requests access to the media library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The sandbox application requests access to the photo library</string>
	<key>NSCameraUsageDescription</key>
	<string>The sandbox application requests access to the camera</string>
</dict>
</plist>
